body {
  height: 100%;
  background: url('../images/Main_screen.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 1em;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.image-1 {
  position: fixed;
  bottom: 21px;
  left: 3.25%;
  z-index: 2;
  width: 153px;
}

.image-2 {
  position: fixed;
  top: 9px;
  left: 3.2825520833%;
  z-index: 1;
  width: 72px;
}

.image-3 {
  position: fixed;
  top: 9px;
  left: 0;
  right: 0;
  width: 366px;
  margin: 0 auto;
}

.image-4 {
  position: relative;
  float: left;
  z-index: 4;
  width: 264px;
  margin: 551px 0 0 18.25%;
}

.image-5 {
  position: relative;
  float: left;
  z-index: 3;
  width: 483px;
  margin: 646px 0 0 14.66015625%;
}