body {
  height: 100%;
  background: url('../images/Main_screen.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-size: 1em;
}

.image {
  display: block;
  position: fixed;
  height: auto;
  overflow: hidden;
}

.image-1 {
  bottom: 21px;
  left: 3.25%;
  z-index: 4;
  width: 153px;
}

.image-2 {
  bottom: 21px;
  right: 7.4505208333%;
  z-index: 3;
  width: 501px;
}

.image-3 {
  bottom: 56px;
  left: 12.7166666666%;
  z-index: 2;
  width: 457px;
}

.image-4 {
  top: 9px;
  left: 3.2825520833%;
  z-index: 1;
  width: 72px;
}

.image-5 {
  top: 9px;
  left: 0;
  right: 0;
  width: 366px;
  margin: 0 auto;
}