body {
	background: url("img/Main_screen.png") no-repeat fixed center center;
	background-size: 100% 100%;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}

a {
    text-decoration: none;
	color: black;
}

.text {
	line-height: 40px;
	height: 100%;
}

/***************************** MAIN SCREEN LAYOUT *****************************/

#mainscreen{
	position:absolute;
	top: 0;
  	left: 0;
  	right: 0;
	height: 100%;
  	margin: 0 auto;
}

#uma{
	position: absolute;
	width: 25%;
	top: 1%;
	left: 38%;
}
#duas{
	position: absolute;
	bottom: 15%;
	left: 15%;
	width: 19%;
}
#tres{
	position: absolute;
	bottom: 15%;
	right: 10%;
	width: 33%;
}
#umaajuda{
	width: 5.5%;
	top: 4%;
	right: 4%;
	position: absolute;
}
#sair{
	width: 13%;
	left: 2%;
	bottom: 2%;
	position: fixed;
}

/***************************** MAIN SCREEN LAYOUT *****************************/

.black_overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.8);
	z-index:1000;
}

.white_content {
	display: none;
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;

	background-color: rgba(255, 255, 255, 0.8);
	z-index:1015;
	overflow: auto;
}

.small_white_content {
	display: none;
	position: absolute;
	top: 26.5%;
    left: 30.5%;
    width: 40%;
    height: 40%;

	background-color: rgba(255, 255, 255, 0.8);
	z-index:1020;
}

/***************************** MAIN SCREEN LAYOUT *****************************/

#option {
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	height: 35%;
	margin: 2% 2%;
}

#accept {
    background-color: rgba(28, 95, 6, 0.59);
    text-align: center;
    height: 16%;
    width: 25%;
    margin: 2% 2%;
    left: 8%;
    bottom: 5%;
    position: absolute;
    font-size: large;
    font-weight: bold;
}

#ignore {
    background-color: rgba(232, 10, 10, 0.61);
    text-align: center;
    height: 16%;
    width: 25%;
    margin: 2% 2%;
    right: 8%;
    bottom: 5%;
    position: absolute;
    font-size: large;
    font-weight: bold;
}

#event_title{
	height: 17%;
}

#event_text{
	font-size: large;
    position: absolute;
    top: 40%;
    left: 5%;

}

.table {
	display: inline-block;
	border-style: solid;
	border-color: black;
	background-color: white;
	border-radius: 100%;
	float: left;
	font-size: 3em;
	text-align: center;
	height: 25%;
	width: 15%;
	margin: 20px 20px;
}

.star {
	display: inline-block;
	margin: 1% 1%;
}

#stars {
	position: relative;
	top: 25%;
	left: 20%;
	max-width: 100%;

}

#rateButton {
	background-color: rgba(28, 95, 6, 0.59);
    text-align: center;
    height: 16%;
    width: 25%;
    margin: 2% 2%;
    right: 8%;
    bottom: 5%;
    position: absolute;
    font-size: large;
    font-weight: bold;
}

p {
	margin: 0;
}

/* STRUCTURE */

#zona_de_jogos_wrap {
	padding: 5px;
	width: 99%;
	margin: 0 auto;
	margin-top: 50px;
}

#jukewrap {
	padding: 5px;
	width: 99%;
	height: 100%;
	margin: 0 auto;
	margin-top: 6%;
}

#counterwrap {
	padding: 5px;
	width: 99%;
	height: 100%;
	margin: 0 auto;
	margin-top: 6%;
}
#checkout {
	background-color: white;
}

header {
	height: 6%;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
	top: 12.5%;
    font-size: 200%;
	text-align: center;
	font-weight: bolder;
	color: white;
}

#game_header a {
	text-decoration: none;
	color: white;
}

footer {
	height: 5%;
  width: 73.5%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
	bottom: 12.5%;
	left: 12.5%;
  font-size: 100%;
	text-align: left;
	color: white;
}

#playing {
	font-size: 100%;
	text-align: left;
	color: white;
}

#order {
	font-size: 100%;
	text-align: left;
	color: white;
}

#rate {
	float: right;
	color: white;
	margin-right: 5%;
}

#rateIMG {
	max-height: 30px;
}

#acceptOrder {
	float: right;
	color: white;
	margin-right: 1%;
	height: 80%;
}

#acceptOrder img {
	max-height: 100%;
	margin-top: 9%;
}

#tprice {
	float: right;
	color: white;
	margin-right: 5%;
}

h3 {
	background-color: black;
	height: 10%;
	font-size: 150%;
	font-weight: bolder;
	margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
	text-align: center;
	color: white;
}

h4 {
	font-size: 200%;
    padding: 5%;
	color: white;
}

#game_menu {
	background-image: url("img/fabric.jpg");
	background-size: cover;
	box-shadow: 2px 2px 2px #333,
				-2px -2px 2px #333;
}

#current_game {
	background-image: url("img/quiz404.png");
	background-size: cover;
	box-shadow: 2px 2px 2px #333,
				-2px -2px 2px #333;
}

#jukebox {
	background-image: url("img/Zona_de_jukebox.png");
	background-size: 100% 100%;
	box-shadow: 2px 2px 2px #333,
				-2px -2px 2px #333;
	overflow-x: hidden;
	overflow-y: hidden;
}

#counter {
	background-image: url("img/Zona_de_balcao.jpg");
	background-size: 100% 100%;
	box-shadow: 2px 2px 2px #333,
				-2px -2px 2px #333;
	overflow-x: hidden;
}

#backarrow {
	height: 83%;
    width: auto;
    margin-left: 0.5%;
    margin-top: 0.5%;
	float: left;
}

#close {
	height: 83%;
    width: auto;
    margin-top: 0.5%;
    margin-right: 0.5%;
	float: right;
}

#close:hover {
	filter: sepia(50%);
}

#question {
	height: 83%;
    width: auto;
    margin-left: 0.5%;
    margin-top: 0.5%;
	float: left;
}

#question:hover {
	filter: sepia(50%);
}
#exclamation {
	position: absolute;
	top: 5%;
	left: 3%;
	width: 6%;
}
#play {
	height: 10%;
    width: 20%;
	position: absolute;
	bottom: 0;
	right: 0;
}

#play:hover {
	filter: sepia(50%);
}

#game {
	width: 33%;
	float: left;
}

#games {
    height: 125px;
}
#vinil {
    height: 200px;
}
#bottle {
    height: 125px;
}

#content {
	margin: 5%;
	padding: 5%;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5%;
	height: 40%;
}

.pics{
	max-height: 100%;
}

#middle {
	width: 30%; /* Account for margins + border values */
	float: left;
	padding: 1%;
	margin: 0px 1.5%;
}

#sidebar {
	width: 30%;
	padding: 1%;
	float: left;
}

#setlist ul li img {
	float: right;
	padding-right: 3%;
	max-height: 5%;
	vertical-align: middle;
}

ul {
	margin-top: 6%;
	margin-left: 0;
	padding-left: 0;
}

ul li {
	padding: 2% 0;
	list-style: none;
	height: 5%;
	font-size: 2em;
	padding-left: 3%;
	border-bottom: 1px solid black;
}

#customize ul {

	width: 50%;
	float: left;
}

#remove {
	float: right;
	padding-right: 3%;
	font-weight: bold;
}

#add {
	float: right;
	padding-right: 3%;
	font-weight: bold;
}

#edit {
	float: right;
	padding-right: 3%;
	font-weight: bold;
}

#price {
	float: right;
	padding-right: 3%;
}

#remove {
	float: right;
	padding-right: 3%;
	font-weight: bold;
}

footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#zona_de_jogos_wrap {
		width: 90%;
	}
	#game {
		width: 50%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#game {
		width: auto;
		float: none;
	}

	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}

#game, #middle, #sidebar {
	margin-bottom: 5px;
}

#gamecontent, #middle, #sidebar { /*, footer to add footer*/
	border-radius: 20%;
}
